.register-card{
    padding-left: 120px;
    padding-right: 100px;
    margin-top: 20px;
}
.register-container{
    display: flex;
    justify-content: center;
    height: 600px;
}
.register-button{
    display: flex;
    justify-content: center;
}
.register-title{
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-decoration: underline;
}
.password_icon:hover{
    cursor: pointer;
}

.right-input{
    margin-right: 20px;
}
.sub-form-design{
    display: flex;
    justify-content: center;
}
.sub-form-inputs{
    margin-top: 50px;
}