<div class="forget-password-container">
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
        <mat-card-title class="forget-password-title">Veuillez remplir les champs suivants</mat-card-title>
        <p class="d-flex justify-content-center">
            <mat-form-field class="p-6" appearance="outline">
                <mat-label>Email</mat-label>
                <input required formControlName="email" matInput placeholder="Placeholder">
                <mat-icon [ngStyle]="{'color':(email.invalid && (email.dirty || email.touched)) ? 'red' : 'black' }"
                    matSuffix>
                    mail_outline</mat-icon>
                <mat-hint>* ex : email@gmail.com</mat-hint>
                <mat-hint align="end">{{email.value?.length || 0}}/50</mat-hint>
                <mat-error *ngIf="((email.invalid && (email.dirty || email.touched)) && email.errors.required)">
                    champs
                    requis
                </mat-error>
                <mat-error
                    *ngIf="((email.invalid && (email.dirty || email.touched)) && (email.errors.email && !email.errors.required))">
                    l'adresse mail n'est pas valide
                </mat-error>
            </mat-form-field>
        </p>
        <mat-card-actions class="forget-password-button">
            <div class="spinner">
                <mat-progress-spinner *ngIf="loading" strokeWidth=50 diameter=50 [mode]="'indeterminate'">
                </mat-progress-spinner>
            </div>
            <button *ngIf="!loading" color="primary" type="submit" mat-raised-button
                [disabled]="loading || !forgetPasswordForm.valid">Envoyer un nouveau mot de passe via l'email</button>
        </mat-card-actions>
    </form>
</div>