.update-product-title{
    display: flex;
    justify-content: center;
    margin-bottom: -50px;
}
.sub-form-inputs{
    margin-top: 50px;
}
.spinner{
    display: flex;
    justify-content: center;
}
mat-form-field{
    width: 100%;
    margin-bottom: 20px;
}
.update-product-container{
    width: 500px;
}
button{
    width: 100%;
}
mat-radio-group{
    display: flex;
    justify-content: center;
}
mat-radio-button{
    margin-left: 40px;
    margin-bottom: 20px;
}