<div class="change-password-container">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <mat-card-title class="change-password-title">Veuillez remplir les champs suivants</mat-card-title>
        <p class="d-flex justify-content-center">
            <mat-form-field appearance="outline">
                <mat-label>Ancien Mot de Passe</mat-label>
                <input required matInput minlength="8" maxlength="20" [type]="hideOld ? 'password' : 'text'"
                    formControlName="oldPassword" placeholder="Placeholder">
                <mat-icon
                    [ngStyle]="{'color':(oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)) ? 'red' : 'black' }"
                    class="password_icon" (click)="hideOld = !hide" matSuffix>{{hideOld ? 'visibility_off' :
                    'visibility'}}</mat-icon>
                <mat-hint>* ex : password</mat-hint>
                <mat-hint align="end">{{oldPassword.value?.length || 0}}/20</mat-hint>
                <mat-error *ngIf="(oldPassword.invalid && (oldPassword.dirty || oldPassword.touched))">
                    champs requis, min: 8, max: 20</mat-error>
            </mat-form-field>
        </p>
        <p class="d-flex justify-content-center">
            <mat-form-field appearance="outline">
                <mat-label>Nouveau Mot de Passe</mat-label>
                <input required matInput minlength="8" maxlength="20" [type]="hide ? 'password' : 'text'"
                    formControlName="password" placeholder="Placeholder">
                <mat-icon
                    [ngStyle]="{'color':(password.invalid && (password.dirty || password.touched)) ? 'red' : 'black' }"
                    class="password_icon" (click)="hide = !hide" matSuffix>{{hide ? 'visibility_off' :
                    'visibility'}}</mat-icon>
                <mat-hint>* ex : password</mat-hint>
                <mat-hint align="end">{{password.value?.length || 0}}/20</mat-hint>
                <mat-error *ngIf="(password.invalid && (password.dirty || password.touched))">
                    champs requis, min: 8, max: 20</mat-error>
            </mat-form-field>
        </p>
        <p class="d-flex justify-content-center">
            <mat-form-field appearance="outline">
                <mat-label>Confirmer le Mot de Passe</mat-label>
                <input [errorStateMatcher]="matcher" required matInput minlength="8" maxlength="20"
                    [type]="hideRepeatPassword ? 'password' : 'text'" formControlName="repeatPassword"
                    placeholder="Placeholder">
                <mat-icon
                    [ngStyle]="{'color':(repeatPassword.invalid && (repeatPassword.dirty || repeatPassword.touched)) ? 'red' : 'black' }"
                    class="password_icon" (click)="hideRepeatPassword = !hideRepeatPassword" matSuffix>
                    {{hideRepeatPassword ?
                    'visibility_off' :
                    'visibility'}}</mat-icon>
                <mat-hint>* ex : password</mat-hint>
                <mat-hint align="end">{{repeatPassword.value?.length || 0}}/20</mat-hint>
                <mat-error
                    *ngIf="(repeatPassword.invalid && (repeatPassword.dirty || repeatPassword.touched)) && repeatPassword.errors.required">
                    champs requis, min: 8, max: 20</mat-error>
                <mat-error
                    *ngIf="((repeatPassword.dirty || repeatPassword.touched))  && (!isPasswordConfirmationValid() && !repeatPassword.errors?.required)">
                    le mot de passe n'est pas correct</mat-error>
            </mat-form-field>
        </p>
        <mat-card-actions class="change-password-button">
            <button color="primary" type="submit" mat-raised-button [disabled]="!changePasswordForm.valid">Modifier
                le mot de passe</button>
        </mat-card-actions>
        <mat-card-footer>
            <mat-card-subtitle>Toutes les champs avec "*" sont obligatoires</mat-card-subtitle>
        </mat-card-footer>
    </form>
</div>