.example-spacer {
  flex: 1 1 auto;
}
mat-toolbar{
    z-index: 100;
    position: sticky;
    top: 0;
}
mat-icon{
    cursor: pointer;
}
.side-button{
    margin-right: 10px;
}
.mat-toolbar{
    background-color: white;
    color: black;
}