<div class="register-container">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-card class="register-card">
            <mat-card-title class="register-title">Informations de Votre Compte</mat-card-title>
            <p class="d-flex justify-content-center">
                <mat-form-field class="p-6" appearance="outline">
                    <mat-label>Nom</mat-label>
                    <input required name="lastName" #lastName="ngModel" [(ngModel)]="updateAccountRequest.lastName"
                        matInput placeholder="Placeholder">
                    <mat-icon
                        [ngStyle]="{'color':(lastName.invalid && (lastName.dirty || lastName.touched)) ? 'red' : 'black' }"
                        matSuffix>account_circle</mat-icon>
                    <mat-hint align="end">{{lastName.value?.length || 0}}/50</mat-hint>
                    <mat-error
                        *ngIf="((lastName.invalid && (lastName.dirty || lastName.touched)) && lastName.errors.required)">
                        champs
                        requis
                    </mat-error>
                </mat-form-field>
            </p>
            <p class="d-flex justify-content-center">
                <mat-form-field class="p-6" appearance="outline">
                    <mat-label>Prénom</mat-label>
                    <input required name="firstName" #firstName="ngModel" [(ngModel)]="updateAccountRequest.firstName"
                        matInput placeholder="Placeholder">
                    <mat-icon
                        [ngStyle]="{'color':(firstName.invalid && (firstName.dirty || firstName.touched)) ? 'red' : 'black' }"
                        matSuffix>account_circle</mat-icon>
                    <mat-hint align="end">{{firstName.value?.length || 0}}/50</mat-hint>
                    <mat-error
                        *ngIf="((firstName.invalid && (firstName.dirty || firstName.touched)) && firstName.errors.required)">
                        champs
                        requis
                    </mat-error>
                </mat-form-field>
            </p>
            <p class="d-flex justify-content-center">
                <mat-form-field class="p-6" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input email name="email" #email="ngModel" required [(ngModel)]="updateAccountRequest.email"
                        matInput placeholder="Placeholder">
                    <mat-icon [ngStyle]="{'color':(email.invalid && (email.dirty || email.touched)) ? 'red' : 'black' }"
                        matSuffix>mail_outline</mat-icon>
                    <mat-hint>* ex : email@gmail.com</mat-hint>
                    <mat-hint align="end">{{email.value?.length || 0}}/50</mat-hint>
                    <mat-error *ngIf="((email.invalid && (email.dirty || email.touched)) && email.errors.required)">
                        champs
                        requis
                    </mat-error>
                    <mat-error
                        *ngIf="((email.invalid && (email.dirty || email.touched)) && (email.errors.email && !email.errors.required))">
                        l'adresse mail n'est pas valide
                    </mat-error>
                </mat-form-field>
            </p>
            <p class="d-flex justify-content-center">
                <mat-form-field appearance="outline">
                    <mat-label>Numéro de téléphone</mat-label>
                    <input name="phone" #phone="ngModel" maxlength="10" required
                        [(ngModel)]="updateAccountRequest.phone" matInput placeholder="Placeholder" pattern="[0-9]{10}">
                    <mat-icon [ngStyle]="{'color':(phone.invalid && (phone.dirty || phone.touched)) ? 'red' : 'black' }"
                        matSuffix> local_phone</mat-icon>
                    <mat-hint align="end">{{phone.value?.length || 0}}/10</mat-hint>
                    <mat-hint>* ex : 0600000000</mat-hint>
                    <mat-error *ngIf="((phone.invalid && (phone.dirty || phone.touched)) && phone.errors.required)">
                        champs
                        requis
                    </mat-error>
                    <mat-error *ngIf="((phone.invalid && (phone.dirty || phone.touched)) && phone.errors.pattern)">
                        Le numéro de téléphone contient 10 chiffres
                    </mat-error>
                </mat-form-field>
            </p>
            <mat-card-actions class="register-button">
                <button [disabled]="loading || !f.valid" color="primary" type="submit" mat-raised-button
                    [disabled]="true">Modifier</button>
            </mat-card-actions>
            <mat-card-footer>
                <mat-card-subtitle>Toutes les champs avec "*" sont obligatoires</mat-card-subtitle>
            </mat-card-footer>
        </mat-card>
    </form>
</div>