<div class="container">
    <h1>Confirmation des details de votre commande</h1>
    <mat-dialog-content class="mat-typography">
        <div class="info">
            <div class="info-content info-right">
                <p>Nom de client : <b>{{order.name}}</b></p>
                <p>Adresse de client : <b>{{order.address}}</b></p>
                <p>Prix à récolter de client : <b>{{order.price}}</b></p>
                <p>Est ce que le contenu de la commande fragile ? : <b>{{order.brittle ? "Oui" : "Non"}}</b></p>
            </div>
            <div class="info-content">
                <p>Numéro de client : <b>{{order.phone}}</b></p>
                <p>Ville où la commande va étre livrée : <b>{{order.city}}</b></p>
                <p>La date de livraison : <b>{{order.date}}</b></p>
                <p>Est ce que le client peut ouvrir la commande ? : <b>{{order.open ? "Oui" : "Non"}}</b></p>
            </div>
        </div>
        <p>Commentaire sur la commande : <b>{{order.comment}}</b></p>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="product">
                    <th mat-header-cell *matHeaderCellDef> NOM DU PRODUIT </th>
                    <td mat-cell *matCellDef="let row"> {{row.product}} </td>
                </ng-container>
                <ng-container matColumnDef="quantityPhoenix">
                    <th mat-header-cell *matHeaderCellDef> QUANTITY CHEZ PHOENIX </th>
                    <td mat-cell *matCellDef="let row"> {{row.quantityPhoenix}} </td>
                </ng-container>
                <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef> Quantité DANS MON STOCK</th>
                    <td mat-cell *matCellDef="let row"> {{row.quantity}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </mat-dialog-content>
    <div mat-dialog-actions>
        <button  mat-raised-button (click)="onNoClick()">No Thanks</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
    </div>
</div>