.login-card{
    padding-left: 120px;
    padding-right: 100px;
    margin-top: 20px;
}
.login-container{
    display: flex;
    justify-content: center;
}
.login-button{
    display: flex;
    justify-content: center;
}
.login-title{
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-decoration: underline;
}
mat-form-field {
  width: 100%;
}
.password_icon:hover{
    cursor: pointer;
}
.sub-form-design{
    display: flex;
    justify-content: center;
}
.sub-form-inputs{
    margin-top: 50px;
}