.login-card{
    padding-left: 120px;
    padding-right: 100px;
    margin-top: 20px;
}
.login-container{
    display: flex;
    justify-content: center;
}
.login-icon{
    font-size: 170px;
    margin-bottom: 170px;
    margin-right: 148px;
    position: absolute;
}
.login-button{
    display: flex;
    justify-content: center;
}
.login-image{
    display: flex;
    justify-content: center;
}
.login-title{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
mat-form-field {
  width: 100%;
}
.password_icon:hover{
    cursor: pointer;
}