<div class="create-category-container">
    <div>
        <form [formGroup]="createCategoryForm" (ngSubmit)="onSubmit()">
            <mat-card class="create-category-card">
                <mat-card-title class="create-category-title">Catégorie</mat-card-title>
                    <div class="sub-form-inputs">
                        <p class="d-flex justify-content-center">
                            <mat-form-field appearance="outline">
                                <mat-label>Nom</mat-label>
                                <input maxlength="50" required formControlName="name" matInput placeholder="Placeholder">
                                <mat-icon
                                    [ngStyle]="{'color':(name.invalid && (name.dirty || name.touched)) ? 'red' : 'black' }"
                                    matSuffix>style</mat-icon>
                                <mat-hint align="end">{{name.value?.length || 0}}/50</mat-hint>
                                <mat-hint>* Nom du category</mat-hint>
                                <mat-error
                                    *ngIf="((name.invalid && (name.dirty || name.touched)) && name.errors.required)">
                                    champs
                                    requis
                                </mat-error>
                            </mat-form-field>
                        </p>
                        <mat-card-actions class="create-category-button">
                            <button color="primary" type="submit" mat-raised-button
                                [disabled]="loading || !createCategoryForm.valid">CREER
                            </button>
                            <mat-progress-spinner *ngIf="loading" strokeWidth=5 diameter=50 [mode]="mode">
                            </mat-progress-spinner>
                        </mat-card-actions>
                    </div>
            </mat-card>
        </form>
    </div>
</div>
