.create-product-card{
    padding-left: 120px;
    padding-right: 100px;
    margin-top: 20px;
}
.create-product-container{
    display: flex;
    justify-content: center;
    height: 600px;
}
.create-product-button{
    display: flex;
    justify-content: center;
}
.create-product-title{
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-decoration: underline;
    padding-top: 20px;
    margin-bottom: 40px;
}
.tripple-input{
    display: flex;
    justify-content: center;
}
.tripple-input-2{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
mat-form-field{
    width: 25%;
    margin-left: 10px;
    margin-right: 10px;
}
.description{
    width: 50%;
}
mat-slide-toggle{
    margin-top: 20px;
}