
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$client-primary: mat-palette($mat-indigo);
$client-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$client-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$client-theme: mat-light-theme((
  color: (
    primary: $client-primary,
    accent: $client-accent,
    warn: $client-warn,
  )
));

// define a real custom palette (using http://mcg.mbitson.com)

$bv-brand: (
    50 : #f1f6f6,
    100 : #dbe9e9,
    200 : #c4dbda,
    300 : #accdcb,
    400 : #9ac2c0,
    500 : #88b7b5,
    600 : #80b0ae,
    700 : #75a7a5,
    800 : #6b9f9d,
    900 : #58908d,
    A100 : #f9ffff,
    A200 : #c6fffc,
    A400 : #93fffa,
    A700 : #7afff8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$bv-orange: (
    50 : #f4f9f6,
    100 : #e5efe8,
    200 : #d3e5d8,
    300 : #c1dac8,
    400 : #b4d2bd,
    500 : #a7cab1,
    600 : #9fc5aa,
    700 : #96bda1,
    800 : #8cb798,
    900 : #7cab88,
    A100 : #ffffff,
    A200 : #fefffe,
    A400 : #cbffd8,
    A700 : #b2ffc5,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$bv-red: (
    50 : #fee1e1,
    100 : #fcb4b4,
    200 : #fa8282,
    300 : #f74f4f,
    400 : #f62a2a,
    500 : #f40404,
    600 : #f30303,
    700 : #f10303,
    800 : #ef0202,
    900 : #ec0101,
    A100 : #ffffff,
    A200 : #ffe0e0,
    A400 : #ffadad,
    A700 : #ff9393,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


// mandatory stuff for theming
$bv-palette-primary: mat-palette($bv-brand);
$bv-palette-accent:  mat-palette($bv-orange);
$bv-palette-warn:  mat-palette($bv-red);

// include the custom theme components into a theme object
$bv-theme: mat-light-theme($bv-palette-primary, $bv-palette-accent, $bv-palette-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($bv-theme);

